body{
    background-image: url(../img/colores.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
}

button{
    border: none;
}

input{
    border: none;
}

h4{
    display: inline-block;
    color: black;
    font-size: 22px;
}